.svgWrapper svg,
path {
  height: 120px;
  width: auto;
  fill: var(--color-main-light);
}

.bannerWrapper {
  z-index: 200;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.75em;
  margin: 2.5em auto 10em auto;
}
