.svgWrapper div svg {
  height: 120px;
  width: auto;
}

.svgWrapper div svg g path {
  fill: var(--color-main-light);
}

/* WHY IS LOGO AND MORPH SHAPE THE SAME!!! */

.bannerWrapper {
  pointer-events: none;
  z-index: 200;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.75em;
  margin: 2.5em auto 10em auto;
}
