.headerText {
  color: var(--color-brand);
  opacity: 0.65;
  margin: 0.25em 0;
  transition: var(--transition-short);
  @media screen and (hover: hover) {
    @nest &:hover {
      opacity: 1;
    }
  }
}

.bodyText p {
  opacity: 0.6;
  color: var(--color-main-dark);
}
