.backgroundImage {
  pointer-events: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100vw;
  height: 200vw;
  @media screen and (orientation: landscape) {
    top: 40vh;
    height: 100vh;
  }
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  /* background-color: #faf5eb;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23e2c378' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23925b41' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23a89878' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23ab7657' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23dcbc7b' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23714f35' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23cab792' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23b2a393' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23e6c384' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23756d57' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23c18c2d' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23353a30' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover; */
}

.backgroundImage::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 200vw;
  @media screen and (orientation: landscape) {
    top: 40vh;
    height: 100vh;
  }
  width: 100vw;
  /* background-image: linear-gradient(to bottom, var(--color-main-light), transparent); */
}
.svgWrapper {
  transition: all 0.1s ease;
  width: 100%;
  height: 200vw;
  @media screen and (orientation: landscape) {
    top: 40vh;
    height: 100vh;
  }
  top: 0;
  z-index: -1;

  @media screen and (orientation: portrait) {
    transform: translateY(15%);
  }
}
.svgWrapper > path {
  transition: all 0.1s ease;
  opacity: 0.2;
  z-index: -1;
}

/* .first {
  transform: translate(75%, 25%);
}

.second {
  transform: translate(115%, 25%);
}

.third {
  transform: translate(-10%, 40%);
}

.fourth {
  transform: translate(25%, 50%);
} */
