.branding {
  color: var(--color-brand) !important;
  font-family: var(--serif);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.3;
  background: transparent !important;
}

.svgStyle {
  height: 120px;
  width: auto;
}

.svgStyle > g > path {
  fill: white !important;
}
