.branding {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -33%);
  opacity: 0.8;
  background: transparent !important;
}

.logo {
  font-size: 2em;
  color: var(--color-main-dark) !important;
  font-family: var(--font-brand);
  font-weight: 500 !important;
}

.svgStyle {
  height: 200px;
  width: auto;

  @media screen and (orientation: portrait) {
    height: 150px;
  }
  transform: translateY(36px);
}

.svgStyle > g > path {
  fill: var(--color-accent-dark) !important;
}
