.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav > a {
  background: var(--color-main-light);
  padding: 1em 2em;
  margin: 0.5em 0;
  font-size: 1.15em;
  color: inherit;
  text-decoration: inherit;
  transition: var(--transition-short);
}

.nav > a:hover {
  background: var(--color-accent-light);
  transition: var(--transition-short);
}

.bannerWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageWrapper {
  position: relative;
  z-index: 50;
  margin: 0 0 0 -1em;
}

.imageWrapper::after {
  z-index: 50;
  content: '';
  position: absolute;
  width: calc(100% - 0.5em);
  top: 1em;
  left: 1em;
  padding-bottom: calc(66% - 0.5em);
  outline: var(--color-accent-light) solid 0.5em;
  opacity: 0.5;
}

/* .textWrapper {
  position: relative;
  padding: 2em 1em 2em 3em;
  z-index: 25;
}

.textWrapper::after {
  z-index: 25;
  content: '';
  position: absolute;
  width: calc(100% + 10em);
  height: calc(100% + 10em);
  top: 0;
  right: 0;
  outline: var(--color-brand) solid 0.5em;
  opacity: 0.5;
} */
