.base {
  transition: var(--transition-short);
  opacity: 0.5;
  filter: blur(8px) grayscale(50%);
}

.beforeLoad {
  opacity: 0.5;
  filter: blur(16px) grayscale(50%);
}

.afterLoaded {
  opacity: 1;
  filter: blur(0px) grayscale(0%);
}
