@import '../styles/media-queries.css';
@import '../styles/vars.css';

body {
  background: #f8eadd;
}

.content {
  min-height: calc(100% - 73px - 152px);

  @media (--media-min-small) {
    min-height: calc(100% - 90px - 169px);
  }
}

.footer {
}

.svgWrapper {
  display: flex;
  justify-content: center;
}
.svgWrapper div svg {
  height: 45px;

  width: auto;
}

.svgWrapper div svg g path,
.svgWrapper div svg path {
  fill: var(--color-accent-dark);
}

.footerWrapper {
  font-family: var(--font-brand);
  box-sizing: border-box;
  max-width: 960px;
  padding: 1.5em;
  margin: 0 auto;

  @media (--media-min-small) {
    padding: 2em;
  }
}

.companyInfo {
  text-align: center;
  margin: 0 0 1rem;
  font-size: 2.5em;
  font-weight: 500;
}

.siteInfo {
  text-align: center;
  font-size: var(--font-small-size);
  line-height: var(--font-small-line-height);

  @nest & a {
    color: inherit;
  }
}

.background {
  background: var(--color-main-light);
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: -2;
}

.followSection {
  color: inherit;
  /* text-transform: uppercase; */
  text-decoration: inherit;
  cursor: pointer;
  opacity: 0.75;
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--transition-short);
}

.followSection:hover {
  color: var(--color-accent-dark);
}
