.modal {
  overflow: hidden;
  z-index: 100;
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageWrapper {
  width: 50%;
  height: 50%;
  margin: 4em;
  overflow: hidden;
}
